/*
GSU fonts
Author: Josh Allen
Updated: 05/24/2021

I am just borrowing fonts used in the https://www.andrewheiss.com/blog/ 
*/

/* Add maven for code font (keep other xaringan defaults */
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body { font-family:'Roboto Condensed','Roboto', 'Barlow Semi Condensed', 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'Microsoft YaHei', 'Songti SC', serif; }

h1, h2, h3 {
  font-family: 'Roboto Condensed';
  font-weight: normal;
}

/*
h2, h3 {
  font-family: 'Roboto Condensed';
  font-weight: normal;
}
*/

.remark-code, .remark-inline-code { font-family: 'Inconsolata', monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }
