/*
Title: GSU Xaraingan Theme
Author: Josh Allen
Updated: 12/26/2021
Description: A GSU theme for Xaringan presentations. Modifid based on 
             Joseph V. Casillas's Rutgers theme and Tuo Wang's UW-Madison Theme
References: https://github.com/jvcasillas/ru_xaringan, https://github.com/ttuowang/Xaringan-wisconsin-theme. Colors and Logo from https://commkit.gsu.edu/university-logos/
*/



a, a > code {
  color: #cc0033; /* rgb(249, 38, 114) */
  text-decoration: none;
}

/* slightly lower and bigger than default */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 95%;
}

/* important code slightly red */
.remark-code-line-highlighted {
  background-color: #FFD3DE !important;
}

/* color tweak */
.inverse {
  background-color: #0039A6;
  color: #FFFFFF;
  text-shadow: 0 0 20px #333;
}

/* slightly spacing change */
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}

/* Two-column layout */
.left-column {
  color: #777;
    width: 30%;
  height: 92%;
  float: left;
  font-size: 18px;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.left-column1 {
  color: #777;
    width: 34%;
  height: 92%;
  float: left;
  font-size: 18px;
}

.right-column {
  width: 67%;
  float: right;
  padding-top: 0em;
}

.right-column1 {
  width: 63%;
  float: right;
  padding-top: 0em;
}

.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }

/* adjust table horizontal spacing */
th, td {
    padding:0 15px 0 15px;
}

.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

/* leave this alone */
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~*/
/* gsu additions */
/*~~~~~~~~~~~~~~~~~~~~~~*/

/* Title slide */

/* Add image and change bg color */
.title-slide {
  background-image: url(https://commkit.gsu.edu/files/2019/06/PrimaryLogo3color.jpg);
  background-position: 100% 0%;
  background-size: 300px;
  background-color: #fff;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

/* H1 fonts */
.title-slide h1 {
  color: #0039A6;
  padding-top: 100px;
  font-weight: normal;
  font-size: 60px;
  text-align: left;
  text-shadow: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
}



/* H2 fonts */
.title-slide h2 {
  color: #CC0000;
  font-size: 34px;
  text-align: left;
  text-shadow: none;
  padding-bottom: 20px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  text-shadow: none;
  padding-bottom: 15px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count shadow */
.title-slide .remark-slide-number {
  text-shadow: none;
}

/*~~~~~~~~~~~~~~~~~~~~*/
/* Global adjustments */
/*~~~~~~~~~~~~~~~~~~~~*/

/* Add padding to all slides for 16:9 aspect ratio */
.remark-slide-content {
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
  font-size: 21px;
}

/* Color adjustments for text */

strong {
  color: #ea5455;
}

.bold { font-weight: bold; }

.gsu-blue{
  color: #0039A6;
}

.gsu-dark{
  color: #776E64;
}

.gsu-gray-blue{
  color: #dadfe1;
}

.gsu-gray-darker{
  color: #646569;
}

.gsu-gray-darkest{
  color: #282728;
}

.gsu-anchor-color{
  color: #0479a8;
}



/* Colors are from the Met brewer package */

.hiro-red{
  color: #e76254;
}

.hiro-orange{
  color: #ef8a47;
}

.hiro-light-orange{
 color: #f7aa58; 
}

.hiro-yellow{
  color: #ffd06f ;
}

.hiro-light-blue{
  color: #528fad ;
}

.hiro-dark-blue{
  color: #376795;
}

.vero-red{
  color: #67322e;
}

.vero-brown{
  color: #99610a;
}

.vero-yellow{
  color: #c38f16;
}


.vero-teal{
  color: #6e948c;
}

.vero-blue{
  color: #122c43;
}

/* Color adjustments to headers */
h1 {
  color: #0039A6;
}

h2 {
  color: #CC0000;
}
h3 {
  color: #776E64;
}

/* Font size tags */
.big {
  font-size: 1.5em;
}





/* gsu blockquote */
gsu-blockquote-red {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 20px #c5050c;
  border-right: solid 20px #c5050c;
  background-color: #dadfe1	;
  padding: 1em;
  color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


gsu-blockquote-blue {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 20px #0039A6;
  border-right: solid 20px #0039A6;
  background-color: #dadfe1	;
  padding: 1em;
  color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

gsu-blockquote-alt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 20px #776E64;
  border-right: solid 20px #776E64;
  background-color: #dadfe1	;
  padding: 1em;
  color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*~~~~~~~~~~~~~~*/
/* I like the frames*/
/* and cols in Allison Hill's */
/* https://alison.netlify.app/ares-kind-tools/*/
/*~~~~~~~~~~~~~~*/

.frame h1 {
  color: #0039A6;
  padding-bottom: 1.0em !important;
  border-bottom: 3px solid var(#7899d4ff);
}




/*~~~~~~~~~~~~~~*/
/* Highlight    */
/*~~~~~~~~~~~~~~*/

.highlight-last-item > ul > li, 
.highlight-last-item > ol > li {
  opacity: 0.5;
}
.highlight-last-item > ul > li:last-of-type,
.highlight-last-item > ol > li:last-of-type {
  opacity: 1;
}

.bold-last-item > ul > li:last-of-type,
.bold-last-item > ol > li:last-of-type {
  font-weight: bold;
}


.my-one-page-font {
  font-size: 18px;
}